@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Jockey+One&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Sarala&family=Space+Grotesk&display=swap");

button {
  font-family: "Jockey one", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.nav-btns {
  display: flex;
  gap: 30px;
}

.logo {
  font-size: 2rem;
}

.login-btn {
  background-color: #886eeb;
  width: 90px;
  height: 60px;
  border-radius: 12px;
  font-size: 1rem;
}
